<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="testng">
    <classes>
      <class name="com.testcases.LoginTest"/>
      <class name="com.testcases.Base"/>
      <class name="com.testcases.Bgrp"/>
      <class name="com.testcases.MemberTest"/>
      <class name="com.testcases.QualifyTest"/>
      <class name="com.testcases.MyInfo"/>
      <class name="com.testcases.DependTest"/>
      <class name="com.testcases.ECTest"/>
      <class name="com.testcases.ContactTest"/>
    </classes>
  </test> <!-- testng -->
</suite> <!-- Suite -->
